@charset "utf-8";
body{
	margin:0;
	padding:0;
	
}
.loginbox{
	width: 320px;
	height: 420px;
	background:#898585;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px
	
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	
}
h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size:22px;
	
	
	
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height: 40px;
	color:#fff;
	font-size: 16px
}
.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: #574BEC;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background:#053293;
	
}
.loginbox a{
	text-decoration: none;
	font-size:16px;
	line-height: 20px;
	color:darkgrey;
	
}
.loginbox a:hover{
	color:#053293
}

.nav_bar_icon{
	width: 40px;
	height: auto;
}
.home-left{
	background-color: #40B564;
	
	width: 50%;
	height:100vh;
	
}
.home-right{
	background-color:aqua;
	width: 50%;
	height: 100vh;
	
}

#accordion {
	position: relative;
}
.btn-card-rmv {
	position: absolute;
	right: 10px;
	top: 10px;
}

/*////user page begin */
#change-image {
	color:#b1dfbb;
}
#change-image:hover {
	color: green;

}

/*////user page end */

/*---------------------
    navbar
 */
#btn-logout.btn-outline-success:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #2237ff;
}


/*---------------------
	type1 css
 */
#card-list .card ul li {
	padding: 0.2rem .35rem;
}



